@import url("https://fonts.googleapis.com/css2?family=Chango&family=Gabarito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Gabarito&family=Roboto&display=swap");
@font-face {
  font-family: "Chapillada";
  src: url("./assets/font/Chapillada.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica";
  src: url("./assets/font/Helvetica-Neue-Regular.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}
